$icon-font-path: '../fonts/';


@import "bootstrap-variables-overwrite.scss";

// Aditional Style for bootstrap without jQuery
/* enables CSS3 transition for simple collapses, accordion and also navbar in responsive view */
.collapse { transition: height .3s ease-out; /*-webkit-transition: height .3s ease-out*/ } 

/* styles the close button for the dismissible popovers */
.popover .close { position: absolute; top: 7px; right: 10px; }


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  transition: color 0.3s, background 0.4s , border 0.4s;
}

.btn-primary:hover {
  background-color: $link-hover-color;
  border-color: $link-hover-color;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Main navigation navbar */

.navbar-brand > img {
  display: inline;
  margin: 0 10px;
  height: 100%;
}
.navbar-transparent {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-toggle {
  &:hover,
  &:focus {
    background-color: $brand-primary;
  }
  .icon-bar {
    background-color: #FFF;
  }
}

.spacer-lg {
  margin-top:50px;
  margin-bottom: 50px;
}

.splash {
  >.container {
    padding: 2em 0 1em;
  }
  background-color: #176893;
  background-image: url('/images/bg.png');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  text-align: center;
}

.section-tout {
  padding: 4em 0 3em;
  border-bottom: 1px solid rgba(0,0,0,.05);
  background-color: #eaf1f1;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

/* Custom page footer */
.footer {
  padding-top: 4em;
  color: #777;
}

.footer-links {
  padding-left: 0;

  a {
    color: $gray;
  }

  li {
    display: inline-block;
  } 

  li+li {
    margin-left: 15px;
  }
}

/* Platforms styles */
.platforms {
  text-align: center;
  font-size: 40px;
  border-bottom: 1px solid rgba(0,0,0,.05);
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.platform {
  line-height: 1.21951;
  font-weight: 200;
  letter-spacing: normal;
  margin-top: 12px;
  margin-bottom: 0;
  font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .splash>.container {
    padding: 9em 0 2em;
  }
}
