$icon-font-path: '../fonts/';

// bower:scss
@import "bootstrap";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Main navigation navbar */
.navbar-default {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #e5e5e5;

  .navbar-header {
    min-height: 50px;

    .navbar-brand {
      padding: 0;
      height: auto;

      .logo {
        width: 200px;
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
      }
    }
  }

  .navbar-toggle {
    background-color: $brand-primary;
    margin-top: 0;

    .icon-bar {
      background-color: #FFF;
    }
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 18px;
    padding: 14px 24px;
    margin: 15px 0;
  }

  .compatibility {
    color: $gray-light;
    font-size: 12px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.timestamp {
  margin-top: 3em;
  color: $gray-light;
  font-size: 13px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.footer-links {
  padding-left: 0;
  margin-bottom: 20px;

  a {
    color: $gray;
  }

  li {
    display: inline-block;
  } 

  li+li {
    margin-left: 15px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Main navigation navbar styled as nav-pills */
  .navbar-default {
    .navbar-collapse {
      padding: 0;
    }

    .navbar-nav > li {
      a {
        color: $brand-primary;
        border-radius: 4px;
        padding: 10px 15px;
      }
      a:hover,
      a:focus {
        background-color: $gray-lighter;
      }
    }

    .navbar-nav > li.active {
      a,
      a:hover,
      a:focus {
        color: #fff;
        background-color: $brand-primary;
      }
    }
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}
