$icon-font-path: '../fonts/';


@import "bootstrap-variables-overwrite.scss";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a {
  transition: color 0.5s, background 0.5s , border 0.5s;
}

.btn-primary:hover {
  background-color: lighten($link-hover-color,3%);
  border-color: $link-hover-color;
}

/* Space out content a bit */
body {
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Main navigation navbar */

.navbar-brand > img {
    display: inline;
    margin: 0 10px;
    height: 100%;
}
.navbar-transparent {
  background-color: transparent;
  border: none;
  color:#FFF;
  position: absolute;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-brand {
  color:#FFF;
}
.navbar-default .navbar-nav > li > a:hover{
  color:rgb(239, 155, 73);
}

.spacer-lg {
  margin-top:50px;
  margin-bottom: 50px;
}
.splash {
    padding: 9em 0 2em;
    background-color: #176893;
    background-image: url('/images/bg.png');
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
}

.section-tout {
    padding: 4em 0 3em;
    border-bottom: 1px solid rgba(0,0,0,.05);
    background-color: #eaf1f1;
    margin-bottom: 40px;
}



/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
}

.footer-links {
  padding-left: 0;

  a {
    color: $gray;
  }

  li {
    display: inline-block;
  } 

  li+li {
    margin-left: 15px;
  }
}

